.ingredientButton {
    margin: 10px;
}

.recipe{
    display: flex;
    flex-direction: column;
    border-style: double;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    width: 100%;
}
.descriptionSmall{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description{
    text-align: left;
}

.recipe:hover {
    box-shadow:  7px 7px rgba(0, 0, 0, 0.2);
}
.recipeTitle{
    text-decoration: darkgray wavy underline;
    height: 70px;
}
.recipeContainer{
    display: flex;
    justify-content: center;
}
.recipeColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    transform:scale(1.2);
}
.recipeSmall{
    overflow: hidden;
    height: 450px;
    width: 100%;
}